id ICON "kage.ico"
1 VERSIONINFO
FILEVERSION     0,2020,02,13
PRODUCTVERSION  0,2020,02,13
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Krixware Studios"
      VALUE "FileDescription", "Kage Animation Tool"
      VALUE "FileVersion", "0.2020"
      VALUE "InternalName", "kage_studio"
      VALUE "LegalCopyright", "Copyright © 2011-2020 Krixware Studios"
      VALUE "OriginalFilename", "kagestudio.exe"
      VALUE "ProductName", "Kage Studio"
      VALUE "ProductVersion", "0.2020"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
