[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Kage Studio
GenericName=Kage Studio
Comment=2D Animation Software
Icon=kagestudio
TryExec=/usr/local/bin/kagestudio
Exec=/usr/local/bin/kagestudio %F
Terminal=false
Type=Application
NoDisplay=false
Categories=Graphics;
MimeType=text/kagestudio-document;
