Package: kagestudio
Version: 0.8-240210
Architecture: amd64
Maintainer: Mj Mendoza IV <mj.mendoza.iv@gmail.com>
Depends: libcairomm-1.0-1v5,libgtkmm-3.0-1v5, libgdk-pixbuf2.0-0, ffmpeg
Installed-Size: 2080768
Section: Graphics
Priority: Optional
Homepage: https://kage.sourceforge.io
Description: A simple cross-platform 2D Animation Software for all ages!
 Kage Studio is a vector-based 2D Animation cross-platform Software for
 Windows, Mac, and Ubuntu GNU/Linux suitable for beginners, hobbyists,
 and soon even professionals.
