Package: kagestudio
Version: 0.3.200512
Architecture: amd64
Maintainer: Mj Mendoza IV <mj.mendoza.iv@gmail.com>
Installed-Size: 1379056
Depends: libgtkmm-3.0, ffmpeg
Section: Graphics
Priority: Optional
Description: Kage Studio
 A simple Free and Open Source 2D vector animation software.
 You can help in the development of this cross-platform 2D animation software. The engine source code is available via SVN: 
 https://sourceforge.net/p/kage/code/HEAD/tree/studio/
 NOTE: 
 This package does not include any demo files.
